<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/static/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/static/css/navbar.css" rel="stylesheet">
    <link href="/static/static/css/style.css" rel="stylesheet">
    {% block head %}{% endblock %}
    <title>customer page | {% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include "customer_module/navbar.html" %}
    {% block content %}{% endblock %}
    <div class="container">
      {% if lists %}
          {% for order, barinfo in lists %}
            {% if forloop.counter0|divisibleby:3 %}
            <div class="row">
            {% endif %}
              <div class="col-sm-4">
                <div class="title-bar">
                  <p style="font-size: 20px; text-align: center; margin-bottom:0px; padding:5px">{{order.product.product_name}}</p>
                </div>
                <div class="thumbnail"
                    style="background: url('{{ MEDIA_URL}}{{ order.product.product_image}}');
                          background-repeat:no-repeat;
                          background-size:cover;
                          background-position: center; margin-top:-4px">
                  <!-- {% load staticfiles %}
                  <img src="{{ MEDIA_URL}}{{ order.product.product_image}}" style="height:315px;"> -->
                  {% block thumbnailcontent %}{% endblock %}
                </div>

                  {% block barcontent %}{% endblock %}
                
              </div>
            {% if forloop.counter0|add:"1"|divisibleby:3 %}
            </div>
            {% endif %}
          {% endfor %}
      {% endif %}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/static/js/jquery.js"></script>
    <script src="/static/static/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
      });
    </script>

  </body>
</html>
