<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href='{% url "customer_home" %}'>{{ user.username }}님의 구매내역 입니다.</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav navbar-right">
      <li><a href='{% url "inquiryPage" %}'>주문/배송조회</a></li>
      <li><a href='{% url "canclePage" %}'>취소/교환/반품</a></li>
      <li><a href='{% url "reviewPage" %}'>구매평가</a></li>
      <li><a href='{% url "logoutPage" %}'>로그아웃</a></li>
    </ul>

  </div><!-- /.navbar-collapse -->
</div>
</nav>
