<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="{{ STATIC_URL }}static/css/bootstrap.css" rel="stylesheet">

  <script src="{{ STATIC_URL }}static/js/jquery.js"></script>
  <script src="{{ STATIC_URL }}static/js/bootstrap.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    $('#purchaseModal').modal({backdrop:false, keyboard:false});
    $('#purchaseModal').modal('show');

    $(".modal-footer").hide();

    $("#orderBt").click(function() {
      $(".modal-footer").show();
    });

    $("#cancleBt").click(function() {
      $(".modal-footer").hide();
    });

    $("#payBt").click(function() {

      var selectSize = document.getElementById("selectSize");
      var sizeText = selectSize.options[selectSize.selectedIndex].text

      var selectQuantity = document.getElementById("selectQuantity");
      var quantityText = selectQuantity.options[selectQuantity.selectedIndex].text

      var inputSize = document.getElementById("size");
      var inputQuantity = document.getElementById("quantity");

      inputSize.value=sizeText;
      inputQuantity.value=quantityText;

      // alert(document.getElementById("inputName").value);
      // return false;

    });
  });
  </script>

  <title>purchase page</title>
</head>
<body>


  <div class="modal" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        {% if message == '1' %}
          <div class="modal-body">
            <h3 style="text-align:center">결제가 완료 되었습니다.</h3>
            <div class="row">
              <div class="col-sm-offset-9 col-sm-3">
                <a href='{% url "inquiryPage" %}' class="btn btn-success btn-block">확인</a>
              </div>
            </div>
          </div>
        {% else %}
        <div class="modal-body">
          <div class="row" style="padding-top:5px">
            <div class = "col-sm-8">
              <div class="thumbnail"
              style="background: url('{{ MEDIA_URL}}{{ product.product_image}}');
              background-repeat:no-repeat;
              background-size:cover;
              background-position: center; margin-top:-4px">
            </div>
          </div>
          <div class = "col-sm-4" style ="padding-left:0px">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{ product.product_name }}</h3>
              </div>

              <table class="table">
                <tbody>
                  <tr>
                    <td></td>
                    <td style="text-align:right">{{ product.product_price }}원</td>
                  </tr>
                  <tr>
                    <td>Size</td>
                    <td style="text-align:right">
                      <select class="form-control" id="selectSize">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>수량</td>
                    <td style="text-align:right">
                      <select class="form-control" id="selectQuantity">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> <!-- /.panel -->
            <button type="button" id="orderBt" class="btn btn-lg btn-success btn-block" style="padding:20px">주문하기</button>
          </div> <!-- /.column -->
        </div> <!-- /.row -->
      </div> <!-- /.modal body -->

      <div class="modal-footer">

        <form class="form-horizontal" role="form" action="" method="POST">
          {% csrf_token %}
          <input type = "hidden" name = "product_id" value = "{{ product.id }}" />
          <input type = "hidden" name = "size" id="size" value = "" />
          <input type = "hidden" name = "quantity" id="quantity" value = "" />

          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">받으시는 분</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="inputName" name="orderer_name">
            </div>
            <div class="col-sm-6">
            </div>
          </div>

          <div class="form-group">
            <label for="inputAddress" class="col-sm-2 control-label">주소</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="inputZipcode1" name="zipcode1" maxlength="3">
            </div>
            <div class="col-sm-1">
                <h5 style="text-align:center">-</h5>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="inputZipcode2" name="zipcode2" maxlength="3">
            </div>
            <div class="col-sm-3">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="text" class="form-control" id="inputAddress" name="address">
            </div>
          </div>

          <div class="form-group">
            <label for="inputPhone" class="col-sm-2 control-label">휴대전화</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="inputPhone" name="orderer_phone" maxlength="11">
            </div>
            <div class="col-sm-5">
            </div>
          </div>

          <div class="form-group" style="padding-top:20px; border-top: 1px solid #c0c0c0;">
            <div class="col-sm-offset-6 col-sm-3">
              <button type="submit" id="payBt" class="btn btn-danger btn-block">결제</button>
            </div>
            <div class="col-sm-3">
              <button type="button" id="cancleBt" class="btn btn-default btn-block">Close</button>
            </div>
          </div>
        </form>

      </div> <!-- /.modal footer -->
      {% endif %}
    </div> <!-- /.modal content -->
  </div> <!-- /.modal dialog -->
</div><!-- /.myModal -->

</body>
</html>
