<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Signin</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/static/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/static/css/signin.css" rel="stylesheet">
  <script src="{{ STATIC_URL }}static/js/jquery.js"></script>
  <script src="{{ STATIC_URL }}static/js/bootstrap.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    $('#loginModal').modal('show');
  });
  </script>

</head>

<body>

  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">login</button> -->

  <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#loginModal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h2 class="modal-title" id="myModalLabel">Sign up</h2>
        </div>
        <div class="modal-body">
          <form class="form-signin" action="{% url 'singUp' %}" method="post">
          <!-- <form class = "form-signin" method = "post" action ="."> -->
            {% csrf_token %}

            <p><label for = "id_username">User name:</label><br>
              <!-- {{ form.username }}</p> -->
              <input style="width:100%" id="id_username" maxlength="254" name="username" type="text" placeholder="user name">
            </p>

            <p><label for = "id_password">Password:</label><br>
              <!-- {{ form.password }}</p> -->
              <input style="width:100%" id="id_password" name="password" type="password" placeholder="password">
              <input style="width:100%" id="id_password2" name="password2" type="password" placeholder="confirm password">
            </p>
            <input type = "hidden" name = "next" value = "{{next}}" />
            <input type = "submit" class = "btn btn-lg btn-success btn-block" value = "회원가입" />
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Close</button>

        </div>
      </div>
    </div>
  </div><!-- /.myModal -->

  <div class="modal" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Please sign in</h4>
          </div>

          <div class="modal-body">

            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              <p style="text-align:center">사용자 이름과 비밀번호가 일치하지 않습니다. 다시 시도해보세요.</p>
            </div>
            {% endif %}
            <form class = "form-signin" method = "post" action =".">
              {% csrf_token %}

              <p><label for = "id_username">User name:</label><br>
                <!-- {{ form.username }}</p> -->
                <input style="width:100%" id="id_username" maxlength="254" name="username" type="text">
              </p>

              <p><label for = "id_password">Password:</label><br>
                <!-- {{ form.password }}</p> -->
                <input style="width:100%" id="id_password" name="password" type="password">
              </p>
              <input type = "hidden" name = "next" value = "{{next}}" />
              <input type = "submit" class = "btn btn-lg btn-primary btn-block" value = "로그인" />
            </form>
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#myModal">회원가입</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->






  </body>
  </html>
