<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/navbar.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    {% block head %}{% endblock %}
    <title>customer page | {% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include "navbar.html" %}
    {% block content %}{% endblock %}
    <div class="container">
      {% if lists %}
          {% for order, barinfo in lists %}
            {% if forloop.counter0|divisibleby:2 %}
            <div class="row">
            {% endif %}
              <div class="col-md-6">
                <h3 class="text-center">{{order.product.product_name}}</h3>
                <div class="thumbnail"
                    style="background: url('{{ MEDIA_URL}}{{ order.product.product_image}}');
                          background-repeat:no-repeat;
                          background-size:cover;">
                  {% block barcontent %}{% endblock %}
                </div>
              </div>
            {% if forloop.counter0|add:"1"|divisibleby:2 %}
            </div>
            {% endif %}
          {% endfor %}
      {% endif %}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
      });
    </script>

  </body>
</html>
