{% extends "base.html" %}
{% block head %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".cancle-form").hide();

    $(".cancleBt").click(function() {
      $(this).parent().prev().show();
      return false;
    });

    $(".cancleCancle").click(function() {
      $(this).parent().parent().parent().hide();
    });
  });
</script>

{% endblock %}
{% block title %}cancle page{% endblock %}
{% block content %}

{% endblock %}
{% block barcontent %}

    {% if barinfo == '0' %}
      <div id ="cancleForm{{order.id}}" class="cancle-form" >
        <br><br><br>
        <h4 class="text-center" style="color: white">{{order.product.product_name}}의 주문을 정말 취소하시겠습니까?</h4>
        <br><br>
        <div style="width:100%; text-align:center;">
          <form action="{% url 'canclePage' %}" method="POST">{% csrf_token %}
            <input type="hidden" name="id" value='{{ order.id }}'>
            <input class="cancleConfirm btn btn-default" type="submit" value="&nbsp;확인&nbsp;">
            <input class="cancleCancle btn btn-default" type="button" name="cancel" value="&nbsp;취소&nbsp;">
          </form>
        </div>
        <br><br><br><br><br>
      </div>
      <div class="btn-group btn-group-justified" style="position: absolute; bottom: 0; left: 14px;">
        <a href="#" class="cancleBt btn btn-warning">취소</a>
        <a href="#" class="btn btn-default disabled">반품</a>
        <a href="#" class="btn btn-default disabled">교환</a>
    {% else %}
      <div class="btn-group btn-group-justified" style="position: absolute; bottom: 0; left: 14px;">
        <a href="#" class="btn btn-default disabled">취소</a>
        <a href="#" class="btn btn-warning">반품</a>
        <a href="#" class="btn btn-warning">교환</a>
    {% endif %}
  </div>
{% endblock %}
