{% extends "base.html" %}
{% block title %}주문/배송 조회{% endblock %}
{% block barcontent %}

  <div class="btn-group btn-group-justified" style="position: absolute; bottom: 0; left: 14px;">
    {% if barinfo == '0' %}
      <a href="#" class="btn btn-danger disabled" >배송준비 중</a>
      <a href="#" class="btn btn-default disabled" >배송 중</a>
      <a href="#" class="btn btn-default disabled" >배송 완료</a>
    {% else %}
      {% if barinfo.isEnd == True %}
        <a href="#" class="btn btn-default disabled" >배송준비 중</a>
        <a href="#" class="btn btn-default disabled" >배송 중</a>
        <a href="#" class="btn btn-danger disabled" >배송 완료</a>
      {% else %}
        <a href="#" class="btn btn-default disabled" >배송준비 중</a>
        <a href="{{barinfo.delivery_company.service_url}}{{barinfo.invoice_number}}" class="btn btn-danger" target="_blank">
          배송 중</a>
        <a href="#" class="btn btn-default disabled">배송 완료</a>
      {% endif %}

    {% endif %}
  </div>

{% endblock %}
