{% extends "base.html" %}
{% block head %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".submitBt2").hide();
    $(".cancleBt").hide();
    $(".submitBt").click(function() {
      var textarea = $(this).parent().find('textarea');
      var comment = textarea.val();
      if(!$.trim(comment)){
        alert("상품평을 입력하세요");
        return false;
      }
    });

    $(".modifyBt").click(function() {
      var textarea = $(this).parent().find('textarea');
      textarea.removeAttr("disabled");
      $(this).hide();
      $(this).next().show();
      $(this).next().next().show();
      return false;
    });

    $(".cancleBt").click(function() {
      var textarea = $(this).parent().find('textarea');
      textarea.attr("disabled", "disabled");
      $(this).hide();
      $(this).prev().hide();
      $(this).prev().prev().show();
      return false;
    });
  });
</script>

{% endblock %}
{% block title %}주문/배송 조회{% endblock %}
{% block barcontent %}

    <div class="input-form-wrapper" style="position: absolute; bottom: 0; left: 14px;">
      <form class="form-inline" action="{% url 'reviewPage' %}" method="POST">{% csrf_token %}
        <div class="form-group">
          <input type="hidden" name="id" value='{{ order.id }}'>
    {% if barinfo == '0' %}
          <label class="sr-only" for="comment">comment</label>
          <textarea class="form-control" name="comment" placeholder="상품평을 입력하세요" rows="2" style="resize:none;"></textarea>
        </div>
        <input class="submitBt btn btn-default" type="submit" value="등록">
    {% else %}
          <label class="sr-only" for="comment2">comment</label>
          <textarea class="form-control" name="comment2" placeholder="상품평을 입력하세요" rows="2" disabled="disabled" style="resize:none;">{{barinfo.comment}}</textarea>
        </div>
        <input class="modifyBt btn btn-default" type="button" value="수정">
        <input class="submitBt2 btn btn-default" type="submit" value="등록">
        <input class="cancleBt btn btn-default" type="button" value="취소">
    {% endif %}
      </form>
    </div>

{% endblock %}
