<!-- <!DOCTYPE html PUBLIC "-/W3C//DTD XHTML 1.0 Transitional//EN"
  "http:www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>customer page</title>
</head>

<body>
  <h1>사용자 로그인</h1>
  {% if form.has_errors %}
    <p>사용자 이름과 비밀번호가 일치하지 않습니다. 다시 시도해보세요.</p>
  {% endif %}
  <form method = "post" action =".">
    {% csrf_token %}
    <p><label for = "id_username">사용자 이름:</label>
      {{ form.username }}</p>
    <p><label for = "id_password">비밀번호:</label>
      {{ form.password }}</p>
    <input type = "hidden" name = "next" value = "/" />
    <input type = "submit" value = "로그인" />
  </form>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">


      <!-- <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Email address" autofocus>
        <input type="password" class="form-control" placeholder="Password">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form> -->

    {% if form.has_errors %}
    <p>사용자 이름과 비밀번호가 일치하지 않습니다. 다시 시도해보세요.</p>
    {% endif %}
    <form class = "form-signin" method = "post" action =".">
      <h2 class="form-signin-heading">Please sign in</h2>
      {% csrf_token %}
      <p><label for = "id_username">user name:</label><br>
        {{ form.username }}</p>
      <p><label for = "id_password">password:</label><br>
        {{ form.password }}</p>
      <input type = "hidden" name = "next" value = "/" />
      <input type = "submit" class = "btn btn-lg btn-primary btn-block" value = "로그인" />
    </form>
  </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
