.cancle-form {
  background: none rgba(0, 0, 0, 0.5);
  padding: 30px;
  height: auto;
  max-width: 100%;
  filter:alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#80000000', endColorstr='#80000000');
}

.input-form-wrapper{
  display:table;
  padding: 10px 10px 10px;

  background-color: #fafafa;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;

}
