<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}static/css/styles.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}static/css/navbar.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}static/css/contents.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}static/js/jquery.js"></script>
    <script src="{{ STATIC_URL }}static/js/bootstrap.min.js"></script>
    {% block head %} {% endblock %}
    <title>Admin page | {% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include "administrator_module/admin_navbar.html" %}
    <br>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!--script type='text/javascript'>

       $(document).ready(function () {
         $('ul.nav > li').click(function (e) {
             e.preventDefault();
             $('ul.nav > li').removeClass('active');
             $(this).addClass('active');
         });
       });

    </script-->
    <script>
      $(document).ready(function() {
        $('a[href="' + this.location.pathname + '"]').parent().addClass('active');
      });
    </script>
  </body>
</html>
