{% extends "administrator_module/admin_base.html" %}

{% block content %}
    {% if not user.is_authenticated %}
      <div class="jumbotron">
        <h1>Login your accounts</h1>
        <p>please</p>
      </div>
    {% endif %}

{% include "administrator_module/admin_product_cards.html" %}

{% endblock %}
