<!-- <a href="#" class="btn btn-lg btn-success pull-right" data-toggle="modal" data-target="#basicModal">상품등록</a> -->

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">상품 등록</h4>
            </div>
            <form action="/administrator/product_upload/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="control-group">
                        <div class="control">
                            <div class="form-group">
                              <label>Product Name</label>
                              <input type="text" class="form-control" placeholder="Product Name" name="product_name" >
                            </div>
                            <div class="form-group">
                              <label>Number of Itmes</label>
                              <input type="number" class="form-control" placeholder="Number of Itmes" name="product_stock">
                            </div>
                            <div class="form-group">
                              <label>Price</label>
                              <input type="number" class="form-control" placeholder="Price" name="product_price">
                            </div>
                            <div class="form-group">
                              <label>Product url</label>
                              <input type="text" class="form-control" placeholder="Product url" name="product_url">
                            </div>
                            <input type="hidden" class="form-control" name="product_seller_id" value="{{ user.username }}">
                            <p>
                            {{ form.imageFile.errors }}
                            {{ form.imageFile.label_tag }}{{ form.imageFile }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>

        </div>
    </div>
</div>
