<!-- modify modal -->
<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">판매 링크</h4>
      </div>
      <div class="modal-body">
        <div class="control-group">
          <div class="control">
            <p>아래의 링크를 복사해 게시물에 붙여넣으시기 바랍니다.</p>
            <textarea class="form-control" rows="6" id="link_data"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
