{% extends "administrator_module/admin_base.html" %}
{% block head %}
<script type="text/javascript">
$(document).ready(function() {
  $("[id=delivery_open]").click(function() {
    var order = $(this).data('order').split(',');
    $("[id=order_id]").attr("value", order[0]);

    if(order[1]=='0'){
      document.getElementById("regBt").innerHTML ="등록";
      $("#isMod").attr("value", '0');
    }else{
      document.getElementById("regBt").innerHTML ="수정";
      $("#isMod").attr("value", '1');
    }
  });

  $("[id=regBt]").click(function() {

    var selectDelivery = document.getElementById("selectDelivery");
    var deliveryId = selectDelivery.options[selectDelivery.selectedIndex].value

    $("#delivery_company_id").attr("value", deliveryId);

    // alert(deliveryId + order.value);
    // return false;
  });

});
</script>

{% endblock %}

{% block content %}

<h1 class="page-header">Orders</h1>
    <table class="table">
      <thead>
        <tr style="text-align:center;">
          <td>order date</td>
          <td>product name</td>
          <td>product image</td>
          <td>orderer name</td>
          <td>orderer phone</td>
          <td>orderer address</td>
          <td>delivery company</td>
          <td>invoice number</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
{% for order, shipment in lists %}
        <tr style="text-align:center;">
          <td style="vertical-align:middle;">{{ order.date }}</td>
          <td style="vertical-align:middle;">{{ order.product.product_name }}</td>
          <td><div style="background: url('{{ MEDIA_URL}}{{ order.product.product_image}}');
                    background-repeat:no-repeat;
                    background-size:cover;
                    background-position: center;
                    width:80px; height:80px;
                    margin-left:auto; margin-right:auto;"></div></td>
          <td style="vertical-align:middle;">{{ order.orderer_name }}</td>
          <td style="vertical-align:middle;">{{ order.orderer_phone }}</td>
          <td style="vertical-align:middle;">{{ order.orderer_address }}</td>
          <td style="vertical-align:middle;">{{ shipment.delivery_company.name }}</td>
          <td style="vertical-align:middle;">{{ shipment.invoice_number }}</td>
          <td style="vertical-align:middle;">
            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#deliveryModal" id="delivery_open" data-order="{{ order.id }},{{ shipment }}">배송정보 입력</button>
          </td>
        </tr>
{% endfor %}
      </tbody>
    </table>

{% include "administrator_module/admin_addDeliveryInfo_modal.html" %}



{% endblock %}
