<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% if user.is_authenticated %}
        <a class="navbar-brand" href='{% url "product_management" %}'>Admin Page</a>
        {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href='{% url "product_management" %}'>판매상품관리</a></li>
            <li><a href='{% url "shipment_management" %}'>주문배송관리</a></li>
            <li class="nav-divider"></li>
            {% if not user.is_authenticated %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="">login <b class="caret"></b></a>
            <ul class="dropdown-menu" style="padding-top: 15px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px; width: 250px;">
                <li>
                <!--
                <form action="/registration/admin_login.html" method="post">
                    -->
                <form action="/administrator/login/" method="post">{% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors|striptags }}
                    </div>
                    {% endif %}
                    <div class="control-group">
                        <div class="control">
                            {% if not form.username.errors %}
                            <input type="text" class="form-control" placeholder="id / email" name="login_user_id" style="margin-bottom: 15px;" autofocus>
                            {% else %}
                            <div class="form-group has-error">
                                {% for error in form.username.errors %}
                                <label class="control-label" for="login_user_id">{{ error }}</label>
                                {% endfor %}
                                <input type="text" class="form-control" placeholder="id / email" name="login_user_id" style="margin_bottom: 15px;" autofucus>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control">
                            {% if not form.password.errors %}
                            <input type="password" class="form-control" placeholder="password" name="login_password" style="margin-bottom: 15px;">
                            {% else %}
                            <div class="form-group has-error">
                                {% for error in form.password.errors %}
                                <label class="control-label" for="login_password">{{ error }}</label>
                                {% endfor %}
                                <input type="password" class="form-control" placeholder="password" name="login_password" style="margin-bottom: 15px;">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label for="auto_login" class="checkbox">
                                <input type="checkbox" name="auto_login" checked="checked"><span class="white">로그인상태 유지</span>
                            </label>
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <button type="submit" class="btn btn-primary btn-sm" style="margin-left: 5px; margin-right: 5px;">login</button>
                    <button type="button" class="btn btn-link" onclick="location.href='forget/'" style="margin-left: 5px; margin-right: 5px; padding-left: 0px; padding-right: 0px;">아이디/비밀번호 찾기</button>
                </form>
                </li>
            </ul>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="">{{ user.username }}<b class="caret"></b></a>
            <ul class="dropdown-menu" style="padding-top: 15px; padding-bottom: 20px; padding-left: 10px; padding-right: 10px; width: 250px;">
                <li>
                <a href="/administrator/logout/">logout</a>
                </li>
            </ul>
            {% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
</div>
</nav>
