<!-- <a href="#" class="btn btn-lg btn-success pull-right" data-toggle="modal" data-target="#basicModal">상품등록</a> -->

<div class="modal fade" id="deliveryModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">배송정보 입력</h4>
            </div>
            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="control-group">
                        <div class="control">

                            <div class="form-group">
                              <label class="col-sm-2 control-label">배송회사</label>
                              <div class="col-sm-10">
                                <select class="form-control" id="selectDelivery">
                                  {% for delivery in deliverys %}
                                    <option value="{{delivery.id}}">{{delivery.name}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-2 control-label">송장번호</label>
                              <div class="col-sm-10">
                                <input type="number" class="form-control" placeholder="invoice number" name="invoice_number">
                              </div>
                            </div>

                            <input type="hidden" class="form-control" name="order_id" id="order_id" value="">
                            <input type="hidden" class="form-control" name="delivery_company_id" id="delivery_company_id" value="">
                            <input type="hidden" class="form-control" name="isMod" id="isMod" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-3">
                      <button type="submit" id="regBt" class="btn btn-primary btn-block">등록</button>
                    </div>
                    <div class="col-sm-3">
                      <button type="button" id="cancleBt" class="btn btn-default btn-block" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </form>

        </div>
    </div>
</div>
