{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Products</h1>
        </div>
        {% for product in products %}
        {% ifequal user.username product.product_seller_id %}
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class="thumbnail">
                {% if product.product_url %}
                <a class="thumbnail" href="{{ product.product_url }}">
                {% else %}
                <a class="thumbnail" href="#">
                {% endif %}
                    <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}">
                </a>
                <div class="caption">
                    <h3>{{ product.product_name }}</h3>
                    {% if product.product_stock %}
                    <p>재고 : {{ product.product_stock }}</p>
                    {% endif %}
                    {% if product.product_price %}
                    <p>가격 : {{ product.product_price }}</p>
                    {% endif %}
                    <p><a href="#" class="btn btn-primary" role="modify">수정</a> 
                    <a href="#" class="btn btn-danger pull-right" role="delete">삭제</a>
                    </p>
                </div>
            </div>
        </div>
        {% endifequal %}
        {% endfor %}
    </div>
</div>
{% endif %}
