{% if user.is_authenticated %}
<link href="{{ STATIC_URL }}static/css/card_ui.css" rel="stylesheet">
<script src="{{ STATIC_URL }}static/js/card_ui.js"></script>
<link href="{{ STATIC_URL }}static/css/twitter_card.css" rel="stylesheet">
<div id="container-fluid">
  <div class="row come-in">
    <h1 class="page-header">Products</h1>
    <div class="row">
      <button class="btn btn-lg btn-success pull-right" data-toggle="modal" data-target="#basicModal">상품등록</button>
    </div>
    {% if products %}
        {% for product in products %}
          {% if forloop.counter0|divisibleby:3 %}
          <div class="row">
          {% endif %}
            <div class="col-sm-4">
              <div class="card_container">
                <card_header>
                  <div class="bio">
                    {% if product.product_url %}
                      <a href="{{ product.product_url }}" target="_blank">
                    {% else %}
                      <a href="#">
                    {% endif %}
                        <div class="bg" style="background: url('{{ MEDIA_URL}}{{ product.product_image}}');
                        background-repeat:no-repeat;
                        background-size:cover;
                        background-position: center; margin-top:-4px">
                        </div>
                      <!-- <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="bg"> -->
                      </a>
                    <!-- <div class="card_desc">
                    <p>{{ product.product_name }}</p>
                  </div> -->
                  <div class="container" style ="margin-top:20px">
                    <div class="row">
                      <div class = "col-sm-8" style ="padding-right:0px">
                        <ul class="list-group">
                          {% if product.product_stock %}
                          <!-- <button class="btn btn-default btn-block disabled" >재고: {{ product.product_stock }}</button> -->
                          <li class="list-group-item">재고: {{ product.product_stock }}</li>
                          {% endif %}
                          {% if product.product_price %}
                          <!-- <button class="btn btn-default btn-block disabled" >가격: {{ product.product_price }}</button> -->
                          <li class="list-group-item">가격: {{ product.product_price }}</li>
                          {% endif %}
                        </ul>
                      </div>
                      <div class = "col-sm-4" style ="padding-left:0px">
                        <button class="btn btn-warning btn-block" style="padding:31px" role="modify" data-toggle="modal" data-target="#modifyModal" id="modify_open" data-product="{{ product.id }},{{ product.product_name }},{{ product.product_stock }},{{ product.product_price }},{{ product.product_url }}">수정</button>
                      </div>
                    </div>
                    <div class="row" style ="padding-right:15px; padding-left:15px">
                      <button class="btn btn-primary btn-block" role="modify" data-toggle="modal" data-target="#linkModal" id="link_open" data-product="{{ product.id }}, {{ product.product_name }}">판매링크</button>
                    </div>
                  </div>
                </div>
              </card_header>
            </div>

            </div>
          {% if forloop.counter0|add:"1"|divisibleby:3 %}
          </div>
          {% endif %}
        {% endfor %}
    {% endif %}
</div>
</div>
{% endif %}
<script type="text/javascript">
$(document).ready(function() {
  $("[id=modify_open]").click(function() {
    var product = $(this).data('product').split(',');
    $("#modify_product_name").attr("value",product[1]);
    $("#modify_product_stock").attr("value",product[2]);
    $("#modify_product_price").attr("value",product[3]);
    $("#modify_product_url").attr("value",product[4]);
    $("#modify_product_id").attr("value",product[0]);
  });

  $("[id=link_open]").click(function() {
    var product = $(this).data('product').split(',');
    $("#link_data").val("<a href='http://localhost:8000/purchase/" + product[0] + "' target='_blank' " + "style='-webkit-appearance:button; display: inline-block; color: #333; background-color: #fff; border-coler: #ccc; padding: 6px 12px; font-size: 14px; font-weight: normal; line-height: 1.428571429; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; border: 1px solid transparent; text-decoration:none'>구매하기</a>" );
  });
});

</script>
